 .dropdown-toggle::after {
      float: right;
       }
  .dropdown-menu.show {
        display: contents;
        }
  .dropdown-item {
          color: white;
          background-color: #1c1b1b;
        }