.table{
    width: 280px;
    border: 1px;
    margin: auto;
    margin-top: 60px;
    border: 1px solid black;
}
.col-black{
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    border: 1px solid black;
}
.col-white{
    height: 30px;
    width: 30px;
    background-color: #000000;
    border: 1px solid black;
}